<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Write your message"/>
        <input type="text" name="tag" placeholder="Tag"/>
        <button type="submit">Add message</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>
<div>List of messages</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Search</button>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>