<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:object="${user}" th:action="@{/admin/user/add}" th:method="POST">
    <input type="hidden" th:field="*{id}" value="${user.getId}"/>
    <label for="firstName">Enter name: </label>
    <input type="text" th:field="*{userName}" id="firstName"/>
    <br/>
    <br/>
    <label for="lastName">Enter new password: </label>
    <input type="text" th:field="*{password}" th:value="${user.setPassword('')}" id="lastName"/>
    <br/>
    <br/>
    <label for="active">User is active: </label>
    <input type="checkbox" th:field="*{active}" th:checked="${user.getActive()}" id="active"/>
    <br/>
    <br/>
    <label for="userRoles">Select role: </label>
    <br/>
    <select multiple id="userRoles" name="userRoles">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.role}"> Role name </option>
    </select>
    <input type="submit" value="Update"/>
</form>

</body>
</html>