<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>newUser</title>
</head>
<body>

<form th:object="${user}" th:action="@{/admin/user/add}" th:method="POST">
    <label for="userName">Enter name:</label>
    <input type="text" th:field="*{userName}" id="userName"/>
    <br/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label for="active">Active status:</label>
    <input type="checkbox" th:field="*{active}" id="active"/>
    <br/>
    <br/>
    <label for="userRoles">Select role:</label>
    <br/>
    <select multiple id="userRoles" name="userRoles">
        <option value=""> - Select role - </option>
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.role}"> Role name
        </option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>